
@font-face{
    font-family:"Proxima Nova Regular";
    font-style:normal;
    font-weight:400;
    src:url("../fonts/proxima-nova-regular.eot?iefix") format("eot"),
        url("../fonts/proxima-nova-regular.woff2") format("woff2"),
        url("../fonts/proxima-nova-regular.woff") format("woff"),
        url("../fonts/proxima-nova-regular.ttf") format("truetype")}

html {
    height: 100%;
}

body {
    margin: 0;
    color: #333;
    height: 100%;
    font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;

    header {
        height: 80px;
    }

    section {
        height: calc(100% - 80px);
        display: grid;
        grid-template-columns: 292px auto;

        aside {
            background-image: url("../img/side-background.png");
            width: 100%;
            height: 100%;
            border-right: 1px solid #e7e7e7;
        }

        article {
            padding: 15px 15px 16px 15px;
            display: flex;
            flex-direction: column;

            ui-view {
                height: 100%;

                .ui-view-content {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    } 
}

